<div class="widget-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="slide-container" fxLayout="column" fxLayoutAlign="start center">
        <mat-slide-toggle [(ngModel)]="switches.h" (click)="_switches.toggle('h')"></mat-slide-toggle>
        <div>H</div>
    </div>
    <div class="slide-container" fxLayout="column" fxLayoutAlign="start center">
        <mat-slide-toggle [(ngModel)]="switches.g" (click)="_switches.toggle('g')"></mat-slide-toggle>
        <div>G</div>
    </div>
    <div class="slide-container" fxLayout="column" fxLayoutAlign="start center">
        <mat-slide-toggle [(ngModel)]="switches.f" (click)="_switches.toggle('f')"></mat-slide-toggle>
        <div>F</div>
    </div>
    <div class="slide-container" fxLayout="column" fxLayoutAlign="start center">
        <mat-slide-toggle [(ngModel)]="switches.e" (click)="_switches.toggle('e')"></mat-slide-toggle>
        <div>E</div>
    </div>
    <div class="slide-container" fxLayout="column" fxLayoutAlign="start center">
        <mat-slide-toggle [(ngModel)]="switches.d" (click)="_switches.toggle('d')"></mat-slide-toggle>
        <div>D</div>
    </div>
    <div class="slide-container" fxLayout="column" fxLayoutAlign="start center">
        <mat-slide-toggle [(ngModel)]="switches.c" (click)="_switches.toggle('c')"></mat-slide-toggle>
        <div>C</div>
    </div>
    <div class="slide-container" fxLayout="column" fxLayoutAlign="start center">
        <mat-slide-toggle [(ngModel)]="switches.b" (click)="_switches.toggle('b')"></mat-slide-toggle>
        <div>B</div>
    </div>
    <div class="slide-container" fxLayout="column" fxLayoutAlign="start center">
        <mat-slide-toggle [(ngModel)]="switches.a" (click)="_switches.toggle('a')"></mat-slide-toggle>
        <div>A</div>
    </div>
</div>