:host .widget-wrapper {
    height: 100%;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 500%;
    background-color: #000000;
    color: #FF4444;
    padding: 40px;
    margin: 10px;
}